<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869324860555-8anp5229gteh0dah0eij7bu5li6rhn74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869324860555-8anp5229gteh0dah0eij7bu5li6rhn74</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Zc-6XGlb8kpQtWg1P77kjAVKGDDOXdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>869324860555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iMungalov.MyKo</string>
	<key>PROJECT_ID</key>
	<string>myko-a7b3f</string>
	<key>STORAGE_BUCKET</key>
	<string>myko-a7b3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869324860555:ios:bb9014c6124acfcc3c388e</string>
</dict>
</plist>